.CatCardSection {
  
  padding: 20px 0;
  background-color: #F5F5DC; 
}
.CatCardDiv{
  width: 85vw;
  margin: auto;
}
.CatHeader {
  margin: 20px 30px;
  text-align: center;
  color: #FFB000;
}

.CatHeader h4 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.CatHeader h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.CatCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.CardBody {
  width: 220px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: #FFCF9D; 

}

.CardBody:hover {
  transform: scale(1.05);
  border: 2px solid #FFB000 ;
  box-shadow: 2px 1px 2px 1px #8b5f01;
}

.catImg img {
  width: 220px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}

.catOverlay {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: auto; 
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column; /* Stack title and link vertically */
  justify-content: center;
  align-items: center;
  opacity: 1; /* Always visible */
  transition: background 0.3s; /* Transition effect for background */
}

.catTitle {
  color: #f5f5dc;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.viewLink {
  display: none;
  margin-top: 5px; 
  text-decoration: none;
  color: #f5f5dc; 
  font-weight: 400; 
  font-size: 1.2rem; 
  transition: color 0.3s;
}

.CardBody:hover .viewLink {
  display: inline-block;
  color: #FFB000; 
}
